<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gto.bang"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="26" />

    <!-- 连接网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--20200623 U-PUSH 以下为需要的基本权限，需要自行添加至您的AndroidManifest文件中 start-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 以下为需要的基本权限，需要自行添加至您的AndroidManifest文件中 end-->

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".create.CreateSupport3Activity"
            android:label="@string/back"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".campus.CampusDetailActivity"
            android:label="@string/back"></activity>
        <activity
            android:name=".campus.CreateActivity"
            android:label="@string/back"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".navigation.AboutActivity"
            android:label="@string/back"></activity>
        <activity
            android:name=".navigation.FeedbackActivity"
            android:label="@string/back"></activity>
        <activity
            android:name=".campus.CampusActivity"
            android:label="@string/back"></activity>
        <activity
            android:name=".create.CreateSupport2Activity"
            android:label="@string/back"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".home.MainActivity"
            android:label="@string/app_name">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".course.PaperDetailActivity"
            android:label="@string/back"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".comment.CommentInputActivity"
            android:label="@string/bang_cancel"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".create.CreateQuestionActivity"
            android:label="@string/back"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".create.CreateExperienceActivity"
            android:label="@string/back"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".create.CreateComplaintActivity"
            android:label="@string/back"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".create.CreateProductActivity"
            android:label="@string/back" />
        <activity
            android:name=".experience.EMainActivity"
            android:label="@string/back" />
        <activity
            android:name=".register.RegisterActivity"
            android:label="@string/blank"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".action.LoginActionActivity"
            android:label="@string/action_login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".college.AcademySelectActivity"
            android:label="@string/action_college"></activity>
        <activity
            android:name=".personal.activity.PHomePageActivity"
            android:label="@string/bang_phomepage"></activity>
        <activity
            android:name=".personal.activity.PMessageActivity"
            android:label="@string/bang_pmessage"></activity>
        <activity
            android:name=".personal.activity.PInputActivity"
            android:label="@string/back"></activity>
        <activity
            android:name=".personal.activity.PExperienceActivity"
            android:label="@string/bang_pexperience"></activity>
        <activity
            android:name=".personal.activity.PNoticeActivity"
            android:label="@string/back"></activity>
        <activity
            android:name=".home.HBangWriteActivity"
            android:label="@string/action_bang_writer"></activity>
        <activity
            android:name=".education.EducationSelectActivity"
            android:label="@string/back"></activity>
        <activity
            android:name=".personal.activity.PQuestionActivity"
            android:label="@string/bang_pquestion"></activity>
        <activity
            android:name=".question.fragment.QuestionListActivity"
            android:label="@string/help"></activity>

        <activity
            android:name=".user.UserListActivity"
            android:label="@string/help"></activity>

        <activity
            android:name=".create.CreateSupportActivity"
            android:label="@string/title_support"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".home.ArticleDetailActivity"
            android:label="@string/article"></activity>
        <activity
            android:name=".question.fragment.SupportDetailActivity"
            android:label="@string/back"></activity>
        <activity android:name=".act.BangerListActivity"></activity>
        <activity
            android:name=".navigation.WalletActivity"
            android:label="@string/wallet"></activity>


        <activity
            android:name=".course.SignUpActivity"
            android:label="@string/signUp"></activity>
        <!--<activity android:name=".act.BangerListActivity"></activity>-->
        <activity
            android:name=".college.SalonActivity"
            android:label="@string/help">

        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/back">

        </activity>
        <activity
            android:name=".question.fragment.QuestionDetailActivity"
            android:label="@string/back">

        </activity>

        <activity android:name=".youth.YouthHomeActivity"></activity>

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57a98ed467e58e179b00397c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".home.HPersonInfoActivity"
            android:label="@string/title_activity_mine"></activity>
        <activity
            android:name=".article.ArticleListActivity"
            android:label="@string/article_list_title"></activity>
        <activity
            android:name=".college.NoticeActivity"
            android:label="@string/notice_title"></activity>
        <activity android:name=".article.ArticleListActivity1"></activity>
        <activity android:name=".article.ArticleListActivity2"></activity>
        <activity android:name=".article.ArticleListActivity3"></activity>
        <activity android:name=".article.ArticleListActivity4"></activity>

        <activity
            android:name=".home.BaseDetailActivity"
            android:label="@string/tab_question"></activity>


        <!-- 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 start-->
        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION" />
            </intent-filter>
        </service>

        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.taobao.accs.internal.AccsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":channel" />

        <service
            android:name="com.taobao.accs.ChannelService$KernelService"
            android:process=":channel" />

        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.umeng.message.UmengIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.umeng.message.XiaomiIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />

        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action" />
            </intent-filter>
        </service>

        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="com.umeng.message.provider.MessageProvider"
            android:authorities="${applicationId}.umeng.message"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
        <!-- 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 end-->

    </application>

</manifest>