<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gto.bang"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="26" />

    <!-- 连接网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".navigation.AboutActivity"
            android:label="@string/back"></activity>
        <activity
            android:name=".navigation.FeedbackActivity"
            android:label="@string/back"></activity>
        <activity
            android:name=".home.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".comment.CommentInputActivity"
            android:label="@string/bang_cancel"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".create.CreateQuestionActivity"
            android:label="@string/back"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".create.CreateExperienceActivity"
            android:label="@string/back"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".create.CreateComplaintActivity"
            android:label="@string/back"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".create.CreateProductActivity"
            android:label="@string/back" />
        <activity
            android:name=".experience.EMainActivity"
            android:label="@string/back" />
        <activity
            android:name=".register.RegisterActivity"
            android:label="@string/action_register"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".action.LoginActionActivity"
            android:label="@string/action_login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".college.AcademySelectActivity"
            android:label="@string/action_college"></activity>
        <activity
            android:name=".personal.activity.PHomePageActivity"
            android:label="@string/bang_phomepage"></activity>
        <activity
            android:name=".personal.activity.PMessageActivity"
            android:label="@string/bang_pmessage"></activity>
        <activity
            android:name=".personal.activity.PInputActivity"
            android:label="@string/back"></activity>
        <activity
            android:name=".personal.activity.PExperienceActivity"
            android:label="@string/bang_pexperience"></activity>
        <activity
            android:name=".personal.activity.PNoticeActivity"
            android:label="@string/back"></activity>
        <activity
            android:name=".home.HBangWriteActivity"
            android:label="@string/action_bang_writer"></activity>
        <activity
            android:name=".education.EducationSelectActivity"
            android:label="@string/back"></activity>
        <activity
            android:name=".personal.activity.PQuestionActivity"
            android:label="@string/bang_pquestion"></activity>
        <activity
            android:name=".question.fragment.QuestionListActivity"
            android:label="@string/help"></activity>

        <activity
            android:name=".user.UserListActivity"
            android:label="@string/help"></activity>

        <activity
            android:name=".create.CreateSupportActivity"
            android:label="@string/title_support"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".home.ArticleDetailActivity"
            android:label="@string/article"></activity>
        <activity
            android:name=".question.fragment.SupportDetailActivity"
            android:label="@string/back"></activity>
        <activity android:name=".act.BangerListActivity"></activity>
        <activity
            android:name=".navigation.WalletActivity"
            android:label="@string/wallet"></activity>
        <!--<activity android:name=".act.BangerListActivity"></activity>-->
        <activity
            android:name=".college.SalonActivity"
            android:label="@string/help">

        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/back">

        </activity>
        <activity
            android:name=".question.fragment.QuestionDetailActivity"
            android:label="@string/back">

        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57a98ed467e58e179b00397c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".home.HPersonInfoActivity"
            android:label="@string/title_activity_mine"></activity>
        <activity
            android:name=".article.ArticleListActivity"
            android:label="@string/article_list_title"></activity>
        <activity
            android:name=".college.NoticeActivity"
            android:label="@string/notice_title"></activity>
        <activity
            android:name=".article.ArticleListActivity1"
            android:label="@string/article_list_title"></activity>
        <activity
            android:name=".article.ArticleListActivity2"
            android:label="@string/article_list_title"></activity>
        <activity
            android:name=".article.ArticleListActivity3"
            android:label="@string/article_list_title"></activity>
        <activity
            android:name=".article.ArticleListActivity4"
            android:label="@string/article_list_title"></activity>

        <activity
            android:name=".home.BaseDetailActivity"
            android:label="@string/tab_question"></activity>

    </application>

</manifest>